body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;

    height: 100vh;
    width: 750px;
    /* min-height: 100%; */
    /* flex-grow: 1; */
    align-items: stretch;

}

.purple-header {
    height: 200px;
    background: purple;
    -webkit-clip-path: polygon(175% 0, 0 0, 0 100%);
    clip-path: polygon(175% 0, 0 0, 0 100%);
    color: white;
    text-align: left;
}

.grow {
    flex-grow: 2;
}

.purple-footer {
    height: 60px;
    -webkit-clip-path: polygon(100% 100%, 0 100%,  100% 0);
    clip-path: polygon(100% 100%, 0 100%,  100% 0);
    background: purple;
    color: white;
    text-align: right;
}

.purple-footer a, .purple-footer a:visited, .purple-footer a:hover {
    color: white;
    text-decoration: none;
}

h1 {
    /* margin-left: 50px; */
    text-align: center;
    margin: 30px;
    margin-bottom: 0;
    font-size: 3em;
}

h2 {
    margin: 20px;
}

.copy-space, .form-space, form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
}

.copy-space, .form-space {
    margin-top: 30px;
}